<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BriteCore Assessment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notifications/Lobibox.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notifications/notifications.css') }}" >
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notifications/Lobibox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notifications/notification-active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
</head>
<body style="background: #122b40;">

{% block body %}

{% endblock %}


</body>
</html>